html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 30vh;
}

.date {
  text-align: right;
}

.title {
  width: 100%;
  background-color: #c4c4c4;
  padding: 1rem;
  margin: 1rem 0;
}

/* articles section settings  */
.articles {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-between;
}

.article {
  height: 14rem;
  position: relative;
  margin-bottom: 1rem;
}

.article img {
  max-width: 17rem;
}

.article h4 {
  height: 30%;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: black;
}
/* articles section settings  */

/* special section settings */
.section-great-banner {
  display: flex;
  flex-flow: row nowrap;
  padding-bottom: 1rem;
}

.great-banner {
  flex-basis: 40%;
}
/* special section settings */

@media screen and (min-width: 1224px) {
  main {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  //small laptops
  main {
    width: 90%;
    margin: 30vh auto 0 auto;
  }
  .article-full-width img {
    height: 6rem;
    margin-bottom: 1rem;
  }
  .article-full-width {
    text-align: center;
  }
  .section-great-banner img {
    max-width: 20rem;
  }
  .great-banner {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  //tablets
  .extra {
    display: none;
  }
  .article {
    height: 13rem;
  }
  .article img {
    max-width: 15rem;
  }
  .article h4 {
    height: 40%;
  }
  .great-banner {
    text-align: right;
  }
  .article-full-width {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  //phones
  .date {
    display: none;
  }
  .great-banner {
    display: none;
  }
  .article-full-width {
    display: none;
  }
  .article {
    height: 10rem;
  }
  .article img {
    max-width: 12rem;
  }
  .extra img {
    height: 100%;
  }
  .article h4 {
    height: 40%;
  }
}
